{% block sidebar %}
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:FILL@1" rel="stylesheet" />
<aside>

    <label for="sidebar">Menu</label>
    <ul name="sidebar" class="nav-links">
        <li><a href="{{url_for('user_route.user_dashboard')}}">Home</a></li>
        <li><a href="{{url_for('user_route.greenhouse')}}">Greenhouse</a></li>
        <li><a href="{{url_for('user_route.report_issues')}}">Report Issues</a></li>
    </ul>

</aside>

<script>
    document.querySelectorAll('.nav-links a').forEach(link => {
        if (link.href === window.location.href) {
            link.classList.add('active')
        }
    });

</script>

{% endblock%}