<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <main>

        {% include 'user_templates/components/header.html' %}

        <link rel="stylesheet" href="{{url_for('static', filename='css/user/set-pin.css')}}">
        <div class="main-content">
            <a href="{{url_for('user_route.greenhouse')}}">
                <img src="{{url_for('static', filename='assets/icons/back.png')}}" alt="" style="width: 30px; height: auto;">
            </a>

            <h1>Set Pins </h1>

            <hr>
            
            <div class="page-content">

                <div class="plant-container">

                    <div class="container-header">
                        <div class="container-title">
                            <h3>{{plant.plant_name}}</h3>
                            <p class="plant-code" value="{{plant.plant_code}}">Code :{{plant.plant_code}}</p>
                            <p>{{plant.description}}</p>
                        </div>
                        <div class="img-container">
                            <img src="" alt="" id="image-preview" style="width: 130px;">
                        </div>
                    </div>
                    
                    <hr>
                    
                    <div class="container-content">
                        <button class="config-btn" data-plant="{{plant.id}}">Configure Pin</button>
                        <input type="file" name="plant-image" id="plant-image" accept="image/*" hidden>
                        <label for="plant-image" class="custom-file-input">Choose Image</label>
                    </div>
                </div>

                <div class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>

                        <h2>Set Pin for {{plant.plant_name}}</h2>

                        <hr>

                        <div class="inputs">
                            <div>
                                <label for="select-pin">Select Pin</label>
                                <select name="select-pin" class="select-pin"></select>
                            </div>

                            <div>
                                <label for="sensor-name">Sensor Name</label>
                                <input type="text" name="sensor-name" class="sensor-name" placeholder="e.g., Tomato Sensor">
                            </div>

                            <button class="set-pin-btn">Set Pin</button>
                        </div>
                    </div>      
                </div>
            </div>
        </div>

    </main>

<script>
document.addEventListener("DOMContentLoaded", async () => {

    const modal = document.querySelector(".modal");
    const setPinButton = modal.querySelector(".set-pin-btn");
    const configureButtons = document.querySelectorAll(".config-btn");
    const releasePin = document.querySelectorAll(".release-pin");
    const select = modal.querySelector(".select-pin");
    const plantImage = document.querySelector("#plant-image");
    const imagePreview = document.querySelector("#image-preview");
    const closeButton = document.querySelectorAll(".close");

    let selectedImage = null;
    let currentPlant = null;

    configureButtons.forEach((button) => {
        button.addEventListener('click', () => openModal(button.dataset.plant));
    });

    async function openModal (plantCode) {
        modal.style.display = "block";
        currentPlant = plantCode;
        select.innerHTML = "";

        try {
            const response = await fetch("http://127.0.0.1:5000/user/fetch_pins");
            const data = await response.json();

            data.available_pins.forEach((pin) => {
                const option = document.createElement("option");
                option.value = pin;
                option.textContent = pin;
                select.appendChild(option);
            });

        } catch (Error) {
            console.log(Error);
        }
    };


    setPinButton.addEventListener('click', async () => {
        const pin = select.value;
        const sensorName = document.querySelector(".sensor-name").value;

        const formData = new FormData()
        formData.append("pin", pin)
        formData.append("currentPlant", currentPlant)
        formData.append("sensorName", sensorName)
        formData.append("image", selectedImage)

        try {
            const response = await fetch("http://127.0.0.1:5000/user/set_pin_process", {
                method: "POST",
                body: formData
            });

            const data = await response.json();

            console.log(data);

        } catch (Error) {
            console.log(Error);
        }
    });

    releasePin.forEach((button) => {
        button.addEventListener('click', async () => {
            const pin = button.dataset.pin;
            const plantContainer = button.closest("div");
            const plantId = plantContainer.querySelector(".plant-id").value;
            console.log(plantId)
            try {
                const response = await fetch("http://127.0.0.1:5000/user/release_pin", {
                    method: "POST",
                    headers: {"Content-Type" : "application/json"},
                    body: JSON.stringify({plantId, pin})
                });
                const data = await response.json();

                if (data.status) {
                    button.previousElementSibling.remove();
                    button.remove()
                }

            } catch (Error) {
                console.log(Error);
            }
        });
    });

    plantImage.addEventListener('change', imageChange)

    function imageChange() {
        const image = plantImage.files[0];
        
        if (image) {
            selectedImage = image
            imagePreview.src = URL.createObjectURL(image);
        }
    }

    closeButton.forEach(button => {
        button.addEventListener('click', () => {
            modal.style.display = "none";
        });
    });

});
</script>

</body>
</html>
