<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <a href="{{url_for('user_route.add_custom_plant')}}">
        <button>Add Plant ;></button>
    </a>


    <form action="/user/add_default_plant" method="POST">
        {% for plant in default_plants %}
        <div>
            <input type="checkbox" name="plant_checkbox" id="{{plant.plant_code}}" value="{{plant.id}}">
            <label for="{{plant.plant_code}}">
                <input type="text" name="id-input" value="{{plant.id}}" hidden>
                <input type="text" name="plant-code-input" value="{{plant.plant_code}}" hidden>

                {{plant.plant_code}}
                {{plant.plant_name}}
                {{plant.description}}
                {{plant.soil_type}}
                {{plant.optimal_water_amount}}
                {{plant.soil_min_moisture}} {{plant.soil_max_moisture}}
                {{plant.ideal_min_temp}} {{plant.ideal_max_temp}}
            </label>
        </div>
        {% endfor %}

        <button type="submit">addPlants</button>
    </form>
    


</body>
</html>