<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <a href="{{url_for('user_route.add_custom_plant')}}">
        <button>Add Plant ;></button>
    </a>

    {% for plant in default_plants %}
        <div>
            <form action="/admin/add_default_plant" method="POST">
                <input type="text" name="id-input" value="{{plant.id}}" hidden>
                <input type="text" name="plant-code-input" value="{{plant.plant_code}}" hidden>
                <button name="action-btn" value="delete-btn">Add Plant</button>
            </form>

            {{plant.plant_code}}
            {{plant.plant_name}}
            {{plant.description}}
            {{plant.soil_type}}
            {{plant.optimal_water_amount}}
            {{plant.soil_min_moisture}} {{plant.soil_max_moisture}}
            {{plant.ideal_min_temp}} {{plant.ideal_max_temp}}
            
        </div>
    {% endfor %}
    
</body>
</html>