<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/user/index.css')}}">
</head>
<body>
    
    <main>

        {% include 'user_templates/components/header.html' %}

        {% include 'user_templates/components/sidebar.html' %}

        <div class="main-content">

            <section id="system-status">
                <div class="card-title">
                    <div><span id="status-circle"></span><h1>System Status : <span id="status-text">Inactive</span></h1></div>
                    <p>Monitoring and watering systems are currently operational</p>
                </div>

                <div class="system-information">
                    <div>
                        <h2>120L</h2>
                        <p>Water used today</p>
                    </div>

                    <div>
                        <h2>120L</h2>
                        <p>Water used today</p>
                    </div>

                    <div>
                        <h2>24</h2>
                        <p>Water used today</p>
                    </div>

                    <div>
                        <h2>2</h2>
                        <p>Active alerts</p>
                    </div>
                </div>
            </section>

            <section id="system-switch">
                <h1>Watering Mode</h1>

                <div class="toggle">
                    <input type="checkbox" name="toggle-switch" id="toggle-switch">
                    <label for="toggle-switch" class="slider">
                        <span class="label-left">Manual</span>
                        <span class="label-right">Automatic</span>
                    </label>
                </div>

                <div class="manual-content">
                    <h1>Watering Controls</h1>
                    <p>Manual watering and schedule adjustments</p>

                    <label for="plant-select">Select Plant</label>
                        <div class="select-container">
                            {% for plant in plants %}
                                <div>
                                    <input type="checkbox" name="plant-checkbox" id="{{plant['user_plant_id']}}" value="{{plant.sensor_pin}}">
                                    <label for="{{plant['user_plant_id']}}">
                                        <input type="text" name="id-input" value="{{plant['user_plant_id']}}" hidden>
                                        <input type="text" name="plant-code-input" value="{{plant.plant_code}}" hidden>
                                        <p>{{plant.plant_name}} {{plant.plant_code}}</p>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>

                    <button class="manual-water">MANUAL WATERING</button>
                </div>

                <div class="automatic-content">
                    <button class="automatic-water">AUTOMATIC WATERING</button>
                </div>
            </section>

            <section id="plants">
                <div class="card-title">
                    <h1>Plants</h1>
                    <p>Current status of your plants</p>
                </div>


                {% if plants %}
                    {% for plant in plants %}
                        <div class="plants">
                            <p>{{plant.plant_name}}</p>
                            <p class="moisture-lvl">Moisture Level : {{plant.moisture_level}}% <span>{{plant.watering_status}}</span></p>
                            <p>Last watered: {{plant.last_watered}}</p>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>No plants yet</p>
                {% endif %}
            </section>

            <section id="environmental-conditions">
                <div class="card-title">
                    <h1>Environmental Conditions</h1>
                    <p>Current greenhouse environment metrics</p>
                </div>

                <div class="environmental-status">
                    <div class="temperature">
                        <h2>1</h2>
                        <h3></h3>
                        <p>Temperature</p>
                    </div>

                    <div class="humidity">
                        <h2>2</h2>
                        <h3></h3>
                        <p>Humidity</p>
                    </div>

                    <div class="rain-level">
                        <h2>3</h2>
                        <h3></h3>
                        <p>Rain Level</p>
                    </div>

                    <div class="wind-speed">
                        <h2>4</h2>
                        <h3></h3>
                        <p>Wind Speed</p>
                    </div>
                </div>
            </section>

        </div>

    </main>

<script>

    document.addEventListener("DOMContentLoaded", () => {
        const toggleCheckbox = document.querySelector("#toggle-switch");
        const savedMode = localStorage.getItem("wateringMode") || "MANUAL";

        if (savedMode === "AUTOMATIC") {
            toggleCheckbox.checked = true;
            manualContent.style.display = "none";
            manualWatering.style.display = "none";
            automaticWatering.style.display = "block";
        } else {
            manualContent.style.display = "block";
            manualWatering.style.display = "block";
            automaticWatering.style.display = "none";
        }

        loadMode(savedMode);

        async function sendCoords (position) {

            lat = position['coords']['latitude'];
            long = position['coords']['longitude'];

            try {
                const response = await fetch("http://127.0.0.1:5000/user/get_coords", {
                    method: "POST",
                    headers: {"Content-Type" : "application/json"},
                    body: JSON.stringify({longitude: long, latitude: lat})
                });
                const data = await response.json()
                
                const temperature = (data.forecast.main.temp - 273.15).toFixed(2)
                const humidity = data.forecast.main.humidity
                const rainLevel = data.forecast.weather[0].description
                const windSpeed = (data.forecast.wind.speed * 3.6).toFixed(2)

                humidityElement.textContent = `${humidity}%`
                temperatureElement.textContent = `${temperature}°C`
                rainLevelElement.textContent = capitalizeWords(rainLevel)
                windSpeedElement.textContent = `${windSpeed} km/h`

            } catch (Error) {
                console.log(Error);
            }

        }
        
        function error (error) {
            console.log(error);
        }

        navigator.geolocation.getCurrentPosition(sendCoords, error);

        function capitalizeWords(sentence) {
            return sentence
                .split(" ")
                .map(word => word.charAt(0).toUpperCase() + word.slice(1))
                .join(" ");
            }
    });


    let lat = 0;
    let long = 0;

    const humidityElement = document.querySelector(".humidity > h3");
    const temperatureElement = document.querySelector(".temperature > h3");
    const rainLevelElement = document.querySelector(".rain-level > h3");
    const windSpeedElement = document.querySelector(".wind-speed > h3");
    const saveButton = document.querySelector(".save-btn");
    const toggleCheckbox = document.querySelector("#toggle-switch");
    const manualWatering = document.querySelector(".manual-water");
    const manualContent = document.querySelector(".manual-content");
    const plantSelect = document.querySelectorAll(".select-container input[type='checkbox']");
    const statusCircle = document.querySelector("#status-circle");
    const statusText = document.querySelector("#status-text");
    const automaticWatering = document.querySelector(".automatic-water");

    const INACTIVE_COLOR = "red";
    const ACTIVE_COLOR = "#27A82E";

    automaticWatering.addEventListener('click', async () => {    
        navigator.geolocation.getCurrentPosition(sendPin, error);
        localStorage.setItem("wateringMode", "AUTOMATIC");
    });

    toggleCheckbox.addEventListener("change", () => {
        const mode = toggleCheckbox.checked ? "AUTOMATIC" : "MANUAL";

        if (mode === "MANUAL") {
            manualContent.style.display = "block";
            manualWatering.style.display = "block";
            automaticWatering.style.display = "none";
        } else {
            manualContent.style.display = "none";
            manualWatering.style.display = "none";
            automaticWatering.style.display = "block";
        }

        console.log(`Mode switched to ${mode}`);
    });

    function loadMode (mode) {
        if (mode === 'AUTOMATIC') {
            statusText.textContent = "Active";
            statusCircle.style.backgroundColor = ACTIVE_COLOR;
            manualWatering.style.display = "none";
            automaticWatering.style.display = "block"
        } else if (mode === 'MANUAL') {
            statusText.textContent = "Inactive";
            statusCircle.style.backgroundColor = INACTIVE_COLOR;
            manualWatering.style.display = "block";
            automaticWatering.style.display = "none"
        }
    }

    manualWatering.addEventListener('click', async () => {
        const plantSelect = document.querySelectorAll(".select-container input[type='checkbox']:checked");
        localStorage.setItem("wateringMode", "MANUAL");

        const plantData = Array.from(plantSelect).map(plant => {
            const label = plant.nextElementSibling;
            const plantId = label.querySelector("input[name='id-input']");
            return {
                'sensorPin' : plant.value,
                'plantId' : plantId.value
            }
        });

        console.log(plantData);

        const jsonPlantData = JSON.stringify({ plants : plantData})

        try {
            const response = await fetch("http://127.0.0.1:5000/user/manual_watering", {
                method: "POST",
                headers: {"Content-Type" : "application/json"},
                body: jsonPlantData
            });
            const data = await response.json();
            console.log(data);
        } catch (Error) {
            console.log(Error);
        }
    });

    async function sendPin(position) {
        lat = position.coords.latitude;
        long = position.coords.longitude;

        try {
            await fetch("http://127.0.0.1:5000/user/automatic_watering", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ longitude: long, latitude: lat })
            });
        } catch (error) {
            console.log(error);
        }
    }

    function error(err) {
        console.log(err);
    }

</script>

</body>
</html>