@font-face {
    font-family: BricolageGrotesque;
    src: url('/static/fonts/BricolageGrotesque.ttf');
}

@font-face {
    font-family: Inter;
    src: url('/static/fonts/Inter-VariableFont_opsz\,wght.ttf');
}

#plants {
    display: grid;
    padding: 20px 40px;
    background-color: #FEFEFA;
    border-radius: 16px;
}

#plants .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#plants .section-header button{
    background-color: #123524;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    padding: 10px 15px;
    font-family: Inter;
    font-weight: bold;
    font-size: 14px;
}

.plant-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    width: 100%;
}

.plant-cards .card {
    border: 1px solid #83838380;
    padding: 10px 15px;
    border-radius: 16px;
}

.plant-cards.single {
    grid-template-columns: 1fr; 
    justify-items: center;     
}

.plant-cards.single > div {
    max-width: 40%;          
    width: 100%;
}

.plant-cards .card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.plant-cards .card-header .watering-status {
    background-color: #ACEE90;
    color: #123524;
    border-radius: 24px;
    padding: 10px 15px;
}

.plant-cards .img-container {
    width: 150px; 
    height: 150px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.plant-cards .img-container {
    max-width: 100%; 
    max-height: 100%;
    object-fit: cover;
}

.plant-cards .card-header .watering-status.pending {
    background-color: #FFA700;
    color: #CB410B;
}

.skipped {
    background-color: #CF1020;
    color: #480607;
}

.modal {
    visibility: hidden;
    position: fixed;
    z-index: 1000; 
    overflow-y: scroll;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 8px;
    width: 100%;      
    max-width: 500px;
}

.modal-content form {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    align-items: start;
}

.modal-content h3,
.modal-content p {
    grid-column: span 2;
    margin: 0;
}

.info-group {
    display: flex;
    flex-direction: column;
}

.info-group label {
    font-size: 0.9rem;
    font-weight: 600;
    margin-bottom: 5px;
}

.info-group input, select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 0.95rem;
}

.soil-moisture-container, 
.temperature-container {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.soil-moisture-container p,
.temperature-container p {
    font-size: 12px;
}

.soil-moisture-container input {
    flex: 1; 
}

.image-container {
    grid-column: span 2;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

.image-container img {
    width: 100px;
    height: auto;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.plant-name {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.close {
    grid-column: span 2;
    justify-self: end;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.button-modal {
    background-color: #123524;
    color: white;
    border-radius: 12px;
    padding: 10px 15px;
    border: none;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.update-btn, .delete-btn {
    padding: 10px 15px;
    border-radius: 12px;
    border: none;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.update-btn {
    color: white;
    background-color: #123524;
}

.delete-btn {
    background-color: #CF1020;
    color: #FEFEFA;
}

.update-btn:hover {
    background-color: #ACEE90;
    color: #123524;
}

.delete-btn:hover {
    background-color: #480607;
    color: #CF1020;
}

.button-modal:hover {
    background-color: #ACEE90;
    color: black;
}

@media screen  and (max-width: 768px) {
    #plants {
        gap: 20px;
    }
}