.main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#faq, #submit-report {
    padding: 20px 40px;
    background-color: #FEFEFA;
    border-radius: 16px;
}

#faq .page-title, 
#submit-report .page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#faq .cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#faq .cards div {
    background-color: #BCF5BC;
    padding: 10px 15px;
    border-radius: 16px;
    border-left: 4px solid #123524;
}

#faq .cards div p {
    margin: 0px 0px 10px 0px;
} 

#submit-report form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 60%;
    margin: 0 auto;
    font-weight: bold;
}

#submit-report form textarea {
    resize: none;
    height: 50px;
}

#submit-report form input[type="text"], textarea {
    border-radius: 10px;
    border: 1px solid #83838380;
    padding: 8px 12px;
}

#submit-report form button {
    align-self: flex-end;
    border: none;
    border-radius: 10px;
    background-color: #123524;
    padding: 7px 25px;
    color: #FEFEFA;
    font-weight: bold;
}