@font-face {
    font-family: Inter;
    src: url('/static/fonts/Inter-VariableFont_opsz\,wght.ttf');
}

@font-face {
    font-family: BricolageGrotesque;
    src: url('/static/fonts/BricolageGrotesque.ttf');
}

body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav {
    font-family: Inter;
    top: 20px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 60%;
    background-color: #FEFEFA;
    align-items: center;
    padding: 0px 15px;
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 3%;
}

#logo {
    width: 100%;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.login-btn a button {
    border-radius: 60px;
    border: none;
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 600;
    background-image: linear-gradient(to right, #123524, #359B69);
    color: white;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #FEFEFA;
    font-family: Inter;
    padding: 20px;
    border-radius: 16px;
}

footer #logo-container {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

footer #logo-container #img-container { width: 10%; }
footer #logo { width: 100%; }

footer #logo-container span {
    font-size: 25px;
    font-weight: bold;
    font-family: BricolageGrotesque;
    color: #27A82E;
}