@font-face {
    font-family: Inter;
    src: url('/static/fonts/Inter-VariableFont_opsz\,wght.ttf');
}

body {
    margin: none;
    padding: none;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.title h1 {
    font-family: Inter;
    font-weight: 700;
}

.title p {
    font-family: Inter;
    font-weight: 400;
}