<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/admin/users/index.css')}}">
</head>
<body>
    
    <main>

        {% include 'admin/components/header.html'%}

        {% include 'admin/components/sidebar.html'%}

        <div class="main-content">
            <div class="page">
                <div class="title">
                    <h2>System Overview</h2>
                    <span class="material-symbols-outlined">article</span>
                </div>
                <hr>

                <div class="cards">
                    <div>
                        <h2 class="card-content">1</h2>
                        <p>Total Users</p>
                    </div>

                    <div>
                        <h2 class="card-content">1</h2>
                        <p>Active Users</p>
                    </div>

                    <div>
                        <h2 class="card-content">1</h2>
                        <p>Admin Users</p>
                    </div>

                    <div>
                        <h2 class="card-content">1</h2>
                        <p>Issues and Reports</p>
                    </div>
                </div>

                <div class="add-user">
                    <a href="{{url_for('admin_route.add_user_template')}}"><button>Add New User</button></a>
                </div>
            </div>

            
            <div class="page">
                <div class="title">
                    <h2>Manage Users</h2>
                    <span></span>
                </div>

                <hr>

                <table>
                    <thead>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>BIRTHDATE</th>
                        <th>EMAIL</th>
                        <th>PHONE NUMBER</th>
                        <th>ACTION</th>
                    </thead>

                    <tbody>
                        {% for user in users%} 
                        <tr>

                            <td>{{user.id}}</td>
                            <td>{{user.first_name}} {{user.last_name}}</td>
                            <td>{{user.birthdate}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.phone_number}}</td>
                            <form action="/admin/user_action_process" method="POST">
                                <td>
                                    <input type="text" name="id-input" id="name-input" value="{{user.id}}" hidden>
                                    <button name="action-btn" value="update-btn" class="update-btn">Update</button>
                                    <button name="action-btn" value="delete-btn" class="delete-btn">Delete</button>
                                </td>
                            </form>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </main>

</body>
</html>