<link rel="stylesheet" href="{{url_for('static', filename='css/components.css')}}">

{% block header %}


    <header>
        <nav>
            <div id="mobile-header">
                <div id="mobile-logo"">
                    <div id="img-container">
                        <img src="{{url_for('static', filename='assets/logos/plant_logo.png')}}" alt="Plant Pulse logo" id="logo">
                    </div>
                    <span>lant Pulse</span>
                </div>

                <div class="hamburger-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div class="logo">
                <img src="{{url_for('static', filename='assets/logos/plant_logo.png')}}" alt="Plant Pulse logo" id="logo">
            </div>

            <ul>
                <li><a href="#features">Features</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Benefits</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>

            <div class="login-btn">
                <a href="{{url_for('main.login')}}">
                    <button>Log in</button>
                </a>
            </div>
        </nav>
    </header>

<script>
    const hamburger = document.querySelector('.hamburger-menu');
    const navLinks = document.querySelector('ul');
    const loginButton = document.querySelector('.login-btn a button');
    const links = navLinks.querySelectorAll("li");

    hamburger.addEventListener('click', () => {
        navLinks.classList.toggle('show');
        loginButton.classList.toggle('show');
    });

    links.forEach(link => {
        link.addEventListener('click', () => {
            navLinks.classList.remove("show");
            loginButton.classList.remove("show")
        })
    });

</script>
{% endblock %}