<link rel="stylesheet" href="{{url_for('static', filename='css/components.css')}}">

{% block header %}

    <header>
        <nav>
            <div class="logo">
                <img src="{{url_for('static', filename='assets/logos/plant_logo.png')}}" alt="Plant Pulse logo" id="logo">
            </div>

            <ul>
                <li><a href="#">Features</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Benefits</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>

            <div class="login-btn">
                <a href="{{url_for('main.login')}}">
                    <button>Log in</button>
                </a>
            </div>
        </nav>
    </header>

{% endblock %}