<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Login</h1>
    <h3>Welcome to Plant Pulse</h3>
    
    <form action="/login_process" method="POST">
        <input type="email" name="email-input" id="email-input">
        <input type="password" name="password-input" id="password-input">

        <button type="submit">Login</button>
    </form>
    
</body>
</html>