<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/mail-body.css">
    <title>Watering Notfication</title>
</head>
<body>
    
    <main>
        <div class="mail-header">
            <div id="logo-container">
            <div id="img-container">
                    <img src="https://raw.githubusercontent.com/maverickbarrientos/mini-capstone-Y2S1/main/static/assets/logos/plant_logo.png" alt="Plant Pulse logo" id="logo">
                </div>
                <span>lant Pulse</span>
            </div>
        </div>

        <div class="mail-content">
            <div class="col-1">
                <h4>Dear Plant Pulse User</h4>
                <p>Your automated greenhouse watering system has completed a scheduled watering cycle</p>
            </div>

            <div class="col-2">
                <h3>Watering Details</h3>

                <hr>

                <h4>Watering Time</h4>
                <p>2025-10-29</p>

                <h4>Plants Watered: </h4>
                <p>Tomatoes</p>
            </div>

            <div class="col-3">
                <p>
                    All plants received the optimal amount of water based on current soil moisture levels and environmental conditions. If you have any questions or need to adjust settings, please log in to your Plant Pulse dashboard.
                </p>
            </div>

            <footer>
                <p>Thank you for using Plant Pulse to keep your greenhouse thriving!</p>

                <div>
                    <p>Best regards,</p>
                    <p>The Plant Pulse Team</p>
                    <p>support@plantpulse.com</p>
                    <p>www.plantpulse.com</p>
                </div>
            </footer>
        </div>
    </main>

</body>
</html>