<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/auth.css')}}">
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='assets/logos/plant_logo.png')}}">
</head>
<body>

    <main>

        <header>
            <nav>
                <div id="logo-container">
                    <div id="img-container">
                        <img src="{{url_for('static', filename='assets/logos/plant_logo.png')}}" alt="Plant Pulse logo" id="logo">
                    </div>
                    <span>lant Pulse</span>
                </div>
            </nav>
        </header>

        <div class="image">
            <img src="{{url_for('static', filename='assets/Home Assets/ChatGPT_Image_Sep_29__2025__04_57_13_PM-removebg-preview.png')}}" alt="">
        </div>

        <div class="form">
            <div>
                <h1>Create account</h1>
                <p>Welcome to Plant Pulse</p>
            </div>
            
            <form action="/signup_process" method="POST">
                <div>
                    <input type="text" name="first-name-input" id="first-name-input" placeholder="First Name">
                    <input type="text" name="last-name-input" id="last-name-input" placeholder="Last Name">
                </div>
                <div>
                    <input type="date" name="birthdate-input" id="birthdate-input">
                    <input type="number" name="phone-number-input" id="phone-number-input" placeholder="e.g., 09123456789">
                </div>
                <input type="email" name="email-input" id="email-input" placeholder="Email">
                <input type="password" name="password-input" id="password-input" placeholder="Password">
                <a href="#">Forgot Password?</a>
                <button type="submit">Sign up</button>

                <p>Already have an account? <a href="{{url_for('main.login')}}">Log in</a></p>
            </form>
        
        </div>

    </main>

</body>
</html>