.page-title p{
    color: #63666A;
}

.cards {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 40px 0px;
    line-height: 20px;
}

.cards > div {
    background-color: #FEFEFA;
    padding: 10px 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.cards div a {
    text-decoration: none;
    color: black;
}

.cards div .card-title {
    font-weight: 600;
}

.cards div .card-content {
    font-weight: 700;
}

.chart-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap; /* ensures responsiveness on small screens */
    background-color: #FEFEFA;
    border-radius: 16px;
    padding: 20px;
    margin: 20px 0;
}

#plant-stats, #user-stats {
    background-color: #fff;
    border-radius: 16px;
    padding: 20px;
    flex: 1;
    min-width: 280px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#plant-stats h1, #user-stats h1 {
    font-size: 18px;
    color: #00311F;
    margin-bottom: 10px;
}

#plantChart {
    width: 70% !important;
    height: 250px !important;
    margin: 0 auto;
}

#userChart {
    width: 100% !important;
    height: 250px !important;
}
