.main-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-content .page {
    background-color: #FEFEFA;
    padding: 20px 40px;
    border-radius: 16px;
    text-align: right;
}

.page .title {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
}

.cards div {
    background-color: #D5F6C5;
    border-radius: 16px;
    text-align: center;
    padding: 10px 0px;
}

.add-user { margin: 30px; }

.add-user button {
    color: white;
    background-color: #123524;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}

table {
    padding: 10px 15px;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
}

table, tr {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: center;
    padding: 7px 10px;
}

th, tr, td {
    padding: 7px 10px;
    background-color: #F5F5F5;
}

th {
    background-color: #D9D9D9;
}

form td     {
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.update-btn {
    background-color: #123524;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 5px 8px; 
}

.delete-btn {
    background-color: #FF0800;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 5px 8px;
}